@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');

.weatherBg{
  background: url("https://www-cdn.eumetsat.int/files/styles/16_9_large/s3/2020-06/ASpot_Weather.jpg?h=d1cb525d&itok=lvYWh_W8");
  height: 50vh;
  display: flex;
  width: 100vw;
  background-size: cover;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading{
  color: white;
  font-family: Rubix;
}
.weatherResultBox{
  margin: auto;
  width: 500px;
  height: 250px;
  background-color: hsl(0, 0%, 96%);
}

.weatherIcon{
  margin-top: 2rem;
  width: 93px;
  height: 85px;
}

.weatherCity{
  font-size: 35px;
}
.weatherTemp{
  font-size: 45px;
  font-weight: bold;
}

.btn {
  background-color: rgb(38, 0, 255);
  position: absolute;
  width: 7%;
  top: 37%;
  left: 46%;
}
.btn:hover{
  border-color: rgb(255, 0, 0);
  background-color: red;
}